# Pandas In One

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('Pokemon.csv')

In [3]:
df

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

In [4]:
#Read headers
df.columns

Index(['#', 'Name', 'Type 1', 'Type 2', 'Total', 'HP', 'Attack', 'Defense',
       'Sp. Atk', 'Sp. Def', 'Speed', 'Generation', 'Legendary'],
      dtype='object')

In [5]:
# Read each columns -> df.column_name or df['column_name']
df['Name']

0                  Bulbasaur
1                    Ivysaur
2                   Venusaur
3      VenusaurMega Venusaur
4                 Charmander
               ...
795                  Diancie
796      DiancieMega Diancie
797      HoopaHoopa Confined
798       HoopaHoopa Unbound
799                Volcanion
Name: Name, Length: 800, dtype: object

In [6]:
# Read multiple columns
df[['Name','Type 1', 'Type 2']]

                      Name   Type 1  Type 2
0                Bulbasaur    Grass  Poison
1                  Ivysaur    Grass  Poison
2                 Venusaur    Grass  Poison
3    VenusaurMega Venusaur    Grass  Poison
4               Charmander     Fire     NaN
..                     ...      ...     ...
795                Diancie     Rock   Fairy
796    DiancieMega Diancie     Rock   Fairy
797    HoopaHoopa Confined  Psychic   Ghost
798     HoopaHoopa Unbound  Psychic    Dark
799              Volcanion     Fire   Water

[800 rows x 3 columns]

In [7]:
#Read rows
df['Name'][5]

'Charmeleon'

In [8]:
#Read rows
df['Name'][1:6]

1                  Ivysaur
2                 Venusaur
3    VenusaurMega Venusaur
4               Charmander
5               Charmeleon
Name: Name, dtype: object

In [9]:
#Read rows using loc
df.loc[1]

#                   2
Name          Ivysaur
Type 1          Grass
Type 2         Poison
Total             405
HP                 60
Attack             62
Defense            63
Sp. Atk            80
Sp. Def            80
Speed              60
Generation          1
Legendary       False
Name: 1, dtype: object

In [10]:
#Read rows using loc
df.loc[0:5]    #including:including

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
5,5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False

In [11]:
#Read rows using iloc
df.iloc[1]

#                   2
Name          Ivysaur
Type 1          Grass
Type 2         Poison
Total             405
HP                 60
Attack             62
Defense            63
Sp. Atk            80
Sp. Def            80
Speed              60
Generation          1
Legendary       False
Name: 1, dtype: object

In [12]:
#Read rows using iloc
df.iloc[0:5]    #including:excluding

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

In [13]:
#To fetch specific like Charmander
df.iloc[4,1]

'Charmander'

In [14]:
#Fetching specific rows like whose Type1 = Electric
e = df[df['Type 1']=='Electric']

In [15]:
e

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
30,25,Pikachu,Electric,NaN,320,35,55,40,50,50,90,1,False
31,26,Raichu,Electric,NaN,485,60,90,55,90,80,110,1,False
88,81,Magnemite,Electric,Steel,325,25,35,70,95,55,45,1,False
89,82,Magneton,Electric,Steel,465,50,60,95,120,70,70,1,False
108,100,Voltorb,Electric,NaN,330,40,30,50,55,55,100,1,False
109,101,Electrode,Electric,NaN,480,60,50,70,80,80,140,1,False
134,125,Electabuzz,Electric,NaN,490,65,83,57,95,85,105,1,False
146,135,Jolteon,Electric,NaN,525,65,65,60,110,95,130,1,False
157,145,Zapdos,Electric,Flying,580,90,90,85,125,90,100,1,True
186,172,Pichu,Electric,NaN,205,20,40,15,35,35,60,2,False
193,179,Mareep,Electric,NaN,280,55,40,40,65,45,35,2,False
194,180,Flaaffy,Electric,NaN,365,70,55,55,80,60,45,2,False
195,181,Ampharos,Electric,NaN,510,90,75,85,115,90,55,2,False
196,181,AmpharosMega Ampharos,Electric,Dragon,610,90,95,105,165,110,45,2,False
258,239,Elekid,Electric,NaN,360,45,63,37,65,55,95,2,False
262,243,Raikou,Electric,NaN,580,90,85,75,115,100,115,2,True
337,309,Electrike,Electric,NaN,295,40,45,40,65,40,65,3,False
338,310,Manectric,Electric,NaN,475,70,75,60,105,60,105,3,False
339,310,ManectricMega Manectric,Electric,NaN,575,70,75,80,135,80,135,3,False
340,311,Plusle,Electric,NaN,405,60,50,40,85,75,95,3,False
341,312,Minun,Electric,NaN,405,60,40,50,75,85,95,3,False
448,403,Shinx,Electric,NaN,263,45,65,34,40,34,45,4,False
449,404,Luxio,Electric,NaN,363,60,85,49,60,49,60,4,False
450,405,Luxray,Electric,NaN,523,80,120,79,95,79,70,4,False
464,417,Pachirisu,Electric,NaN,405,60,45,70,45,90,95,4,False
513,462,Magnezone,Electric,Steel,535,70,70,115,130,90,60,4,False
517,466,Electivire,Electric,NaN,540,75,123,67,95,85,95,4,False
531,479,Rotom,Electric,Ghost,440,50,50,77,95,77,91,4,False
532,479,RotomHeat Rotom,Electric,Fire,520,50,65,107,105,107,86,4,False
533,479,RotomWash Rotom,Electric,Water,520,50,65,107,105,107,86,4,False
534,479,RotomFrost Rotom,Electric,Ice,520,50,65,107,105,107,86,4,False
535,479,RotomFan Rotom,Electric,Flying,520,50,65,107,105,107,86,4,False
536,479,RotomMow Rotom,Electric,Grass,520,50,65,107,105,107,86,4,False
581,522,Blitzle,Electric,NaN,295,45,60,32,50,32,76,5,False
582,523,Zebstrika,Electric,NaN,497,75,100,63,80,63,116,5,False
648,587,Emolga,Electric,Flying,428,55,75,60,75,60,103,5,False
663,602,Tynamo,Electric,NaN,275,35,55,40,45,40,60,5,False
664,603,Eelektrik,Electric,NaN,405,65,85,70,75,70,40,5,False
665,604,Eelektross,Electric,NaN,515,85,115,80,105,80,50,5,False
704,642,ThundurusIncarnate Forme,Electric,Flying,580,79,115,70,125,80,111,5,True
705,642,ThundurusTherian Forme,Electric,Flying,580,79,105,70,145,80,101,5,True
764,694,Helioptile,Electric,Normal,289,44,38,33,61,43,70,6,False
765,695,Heliolisk,Electric,Normal,481,62,55,52,109,94,109,6,False
772,702,Dedenne,Electric,Fairy,431,67,58,57,81,67,101,6,False

In [16]:
#Sorting dataframe
df.sort_values('Type 1')

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
600,540,Sewaddle,Bug,Grass,310,45,53,70,40,60,42,5,False
136,127,Pinsir,Bug,NaN,500,65,125,100,55,70,85,1,False
457,412,Burmy,Bug,NaN,224,40,29,45,29,45,36,4,False
132,123,Scyther,Bug,Flying,500,70,110,80,55,80,105,1,False
656,595,Joltik,Bug,Electric,319,50,47,50,57,50,65,5,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
172,158,Totodile,Water,NaN,314,50,65,64,44,48,43,2,False
610,550,Basculin,Water,NaN,460,70,92,65,80,55,98,5,False
145,134,Vaporeon,Water,NaN,525,130,65,60,110,95,65,1,False
574,515,Panpour,Water,NaN,316,50,53,48,53,48,64,5,False
184,170,Chinchou,Water,Electric,330,75,38,38,56,56,67,2,False

In [17]:
#Sorting dataframe
df.sort_values('Type 1', ascending=False)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
371,339,Barboach,Water,Ground,288,50,48,43,46,41,60,3,False
97,90,Shellder,Water,NaN,305,30,65,100,45,25,40,1,False
240,222,Corsola,Water,Rock,380,55,55,85,65,85,35,2,False
403,368,Gorebyss,Water,NaN,485,55,84,105,114,75,52,3,False
93,86,Seel,Water,NaN,325,65,45,55,45,70,45,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
54,49,Venomoth,Bug,Poison,450,70,65,60,90,75,90,1,False
208,193,Yanma,Bug,Flying,390,65,65,45,75,45,95,2,False
182,168,Ariados,Bug,Poison,390,70,90,70,60,60,40,2,False
734,666,Vivillon,Bug,Flying,411,80,52,50,90,50,89,6,False
179,165,Ledyba,Bug,Flying,265,40,20,30,40,80,55,2,False

In [18]:
#Sorting dataframe
df.sort_values(['Type 1', 'Type 2'])

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
656,595,Joltik,Bug,Electric,319,50,47,50,57,50,65,5,False
657,596,Galvantula,Bug,Electric,472,70,77,60,97,60,108,5,False
231,214,Heracross,Bug,Fighting,500,80,125,75,40,95,85,2,False
232,214,HeracrossMega Heracross,Bug,Fighting,600,80,185,115,40,105,75,2,False
697,636,Larvesta,Bug,Fire,360,55,85,55,50,55,60,5,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
655,594,Alomomola,Water,NaN,470,165,75,80,40,45,65,5,False
724,656,Froakie,Water,NaN,314,41,56,40,62,44,71,6,False
725,657,Frogadier,Water,NaN,405,54,63,52,83,56,97,6,False
762,692,Clauncher,Water,NaN,330,50,53,62,58,63,44,6,False
763,693,Clawitzer,Water,NaN,500,71,73,88,120,89,59,6,False

In [19]:
#Sorting dataframe
df.sort_values(['Type 1', 'Type 2'], ascending=False)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
440,395,Empoleon,Water,Steel,530,84,86,88,111,101,60,4,False
240,222,Corsola,Water,Rock,380,55,55,85,65,85,35,2,False
404,369,Relicanth,Water,Rock,485,100,90,130,45,65,55,3,False
625,564,Tirtouga,Water,Rock,355,54,78,103,53,45,22,5,False
626,565,Carracosta,Water,Rock,495,74,108,133,83,65,32,5,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
649,588,Karrablast,Bug,NaN,315,50,75,45,40,45,60,5,False
677,616,Shelmet,Bug,NaN,305,50,40,85,40,65,25,5,False
678,617,Accelgor,Bug,NaN,495,80,70,40,100,60,145,5,False
732,664,Scatterbug,Bug,NaN,200,38,35,40,27,25,35,6,False
733,665,Spewpa,Bug,NaN,213,45,22,60,27,30,29,6,False

In [20]:
#Sorting dataframe
df.sort_values(['Type 1', 'Type 2'], ascending=[1,0])    # 1=ascending, 0=descending

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
307,283,Surskit,Bug,Water,269,40,30,32,50,52,65,3,False
220,205,Forretress,Bug,Steel,465,75,90,140,60,60,40,2,False
228,212,Scizor,Bug,Steel,500,70,130,100,55,80,65,2,False
229,212,ScizorMega Scizor,Bug,Steel,600,70,150,140,65,100,75,2,False
460,413,WormadamTrash Cloak,Bug,Steel,424,60,69,95,69,95,36,4,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
655,594,Alomomola,Water,NaN,470,165,75,80,40,45,65,5,False
724,656,Froakie,Water,NaN,314,41,56,40,62,44,71,6,False
725,657,Frogadier,Water,NaN,405,54,63,52,83,56,97,6,False
762,692,Clauncher,Water,NaN,330,50,53,62,58,63,44,6,False
763,693,Clawitzer,Water,NaN,500,71,73,88,120,89,59,6,False

In [21]:
#Describe dataframe
df.describe()

,#,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation
count,800.000000,800.00000,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000,800.00000
mean,362.813750,435.10250,69.258750,79.001250,73.842500,72.820000,71.902500,68.277500,3.32375
std,208.343798,119.96304,25.534669,32.457366,31.183501,32.722294,27.828916,29.060474,1.66129
min,1.000000,180.00000,1.000000,5.000000,5.000000,10.000000,20.000000,5.000000,1.00000
25%,184.750000,330.00000,50.000000,55.000000,50.000000,49.750000,50.000000,45.000000,2.00000
50%,364.500000,450.00000,65.000000,75.000000,70.000000,65.000000,70.000000,65.000000,3.00000
75%,539.250000,515.00000,80.000000,100.000000,90.000000,95.000000,90.000000,90.000000,5.00000
max,721.000000,780.00000,255.000000,190.000000,230.000000,194.000000,230.000000,180.000000,6.00000

In [22]:
#Filtering data
z = df[df['Type 1'] == 'Water']

In [23]:
z

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
9,7,Squirtle,Water,NaN,314,44,48,65,50,64,43,1,False
10,8,Wartortle,Water,NaN,405,59,63,80,65,80,58,1,False
11,9,Blastoise,Water,NaN,530,79,83,100,85,105,78,1,False
12,9,BlastoiseMega Blastoise,Water,NaN,630,79,103,120,135,115,78,1,False
59,54,Psyduck,Water,NaN,320,50,52,48,65,50,55,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
724,656,Froakie,Water,NaN,314,41,56,40,62,44,71,6,False
725,657,Frogadier,Water,NaN,405,54,63,52,83,56,97,6,False
726,658,Greninja,Water,Dark,530,72,95,67,103,71,122,6,False
762,692,Clauncher,Water,NaN,330,50,53,62,58,63,44,6,False
763,693,Clawitzer,Water,NaN,500,71,73,88,120,89,59,6,False

In [24]:
#Filtering data
andop = df[(df['Type 1'] == 'Water') & (df['Type 2'] == 'Poison')]

In [25]:
andop

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
78,72,Tentacool,Water,Poison,335,40,40,35,50,100,70,1,False
79,73,Tentacruel,Water,Poison,515,80,70,65,80,120,100,1,False
227,211,Qwilfish,Water,Poison,430,65,95,75,55,55,85,2,False

In [26]:
orop = df[(df['Type 1'] == 'Water') | (df['Type 2'] == 'Poison')]    # not working

In [27]:
orop

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
9,7,Squirtle,Water,NaN,314,44,48,65,50,64,43,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
724,656,Froakie,Water,NaN,314,41,56,40,62,44,71,6,False
725,657,Frogadier,Water,NaN,405,54,63,52,83,56,97,6,False
726,658,Greninja,Water,Dark,530,72,95,67,103,71,122,6,False
762,692,Clauncher,Water,NaN,330,50,53,62,58,63,44,6,False
763,693,Clawitzer,Water,NaN,500,71,73,88,120,89,59,6,False